body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.todo-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#todo-list {
    list-style: none;
    padding: 0;
}

#todo-list li {
    margin: 5px 0;
    padding: 5px;
    background-color: #eee;
    border-radius: 4px;
}

.completed {
    text-decoration: line-through;
    color: #999;
}
.category-학교 { background-color: #f3e5f5 !important; }
.category-친구 { background-color: #ffe0b2 !important; }
.category-알바 { background-color: #b3e5fc !important; }
.category-기타 { background-color: #c8e6c9 !important;}

.completed {
    text-decoration: line-through;
    color: #999;
}
